<a href="https://colab.research.google.com/github/marybello/Hamoye_stageA/blob/main/hamoye1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('data.csv', encoding='latin-1')

In [7]:
df.head()

   Area Code     Area  Item Code  ...     Y2016     Y2017     Y2018
0          4  Algeria       2501  ...  40551.00  41389.00  42228.00
1          4  Algeria       2501  ...      0.00      0.00      0.00
2          4  Algeria       2901  ...   3372.00   3341.00   3322.00
3          4  Algeria       2901  ...     94.72     92.82     91.83
4          4  Algeria       2901  ...     77.40     80.19     77.28

[5 rows x 12 columns]

In [5]:
df['Item'].nunique()

119

In [7]:
import matplotlib.pyplot as plt

In [11]:
df.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [42]:
#question 11 and 12
af_2014 = df.groupby('Item')['Y2014'].sum()['Animal fats']
af_2017 =df.groupby('Item')['Y2017'].sum()['Animal fats']
print(af_2014, af_2017)

209460.5399999999 269617.53

In [12]:
#mean
round(df.mean()['Y2015'],3)

135.236

In [14]:
#standard deviation
round(df.std()['Y2015'],3)

1603.404

In [16]:
#missing data for the year 2016
df.isnull().sum()['Y2016']

1535

In [19]:
#calculate the percentage of missing data
round((1535/len(df['Y2016'])) * 100, 2)

2.52

In [20]:
#checking for correlation
df.corr()

              Area Code  Item Code  Element Code  ...     Y2016     Y2017     Y2018
Area Code      1.000000  -0.005159     -0.000209  ...  0.005247  0.005006  0.005665
Item Code     -0.005159   1.000000     -0.024683  ...  0.020109  0.021494  0.021314
Element Code  -0.000209  -0.024683      1.000000  ...  0.023444  0.024254  0.024279
Y2014          0.006164   0.021722      0.024457  ...  0.996081  0.995230  0.994872
Y2015          0.005472   0.020857      0.023889  ...  0.995739  0.988048  0.988208
Y2016          0.005247   0.020109      0.023444  ...  1.000000  0.992785  0.992757
Y2017          0.005006   0.021494      0.024254  ...  0.992785  1.000000  0.998103
Y2018          0.005665   0.021314      0.024279  ...  0.992757  0.998103  1.000000

[8 rows x 8 columns]

In [ ]:
elements = df.groupby('Element')['Y2014'].sum().index.tolist()
elements

In [12]:
y2014 = df.groupby('Element')['Y2014'].sum().values.tolist()
y2015  = df.groupby('Element')['Y2015'].sum().values.tolist()
y2016 = df.groupby('Element')['Y2016'].sum().values.tolist()
y2017 = df.groupby('Element')['Y2017'].sum().values.tolist()
y2018 = df.groupby('Element')['Y2018'].sum().values.tolist()

In [20]:
#question 15 and 16
sum_values = pd.DataFrame(list(zip(elements,y2014,y2015,y2016,y2017,y2018)), 
                          columns=['Elements', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'])
sum_values

                                  Elements       Y2014  ...       Y2017       Y2018
0                 Domestic supply quantity  1996716.35  ...  2088198.10  2161192.10
1                          Export Quantity   150020.64  ...   182338.80   181594.80
2       Fat supply quantity (g/capita/day)    10225.56  ...    10253.84    10258.69
3                                     Feed   216927.89  ...   223705.68   233489.68
4                                     Food  1212332.49  ...  1258888.28  1303841.28
5            Food supply (kcal/capita/day)   454257.00  ...   454681.00   455261.00
6      Food supply quantity (kg/capita/yr)    49650.63  ...    48690.04    49056.85
7                          Import Quantity   274144.48  ...   294559.09   287997.09
8                                   Losses   153223.00  ...   160614.00   163902.00
9                    Other uses (non-food)    78718.13  ...    91645.97    91300.97
10                              Processing   282923.00  ...   292836.00   308429.00
11                              Production  1931287.75  ...  2030056.89  2075072.89
12  Protein supply quantity (g/capita/day)    11836.46  ...    11842.45    11833.56
13                               Residuals    30149.00  ...    35500.00    34864.00
14                                    Seed    21922.92  ...    24870.14    25263.14
15                         Stock Variation    58749.83  ...    54316.91    20577.91
16           Total Population - Both sexes  1031585.00  ...  1112641.00  1140605.00
17                     Tourist consumption      416.00  ...       91.00       90.00

[18 rows x 6 columns]

In [23]:
#question 17
df.groupby('Element')['Y2018'].sum()

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [25]:
#question 18
df.groupby('Element')['Y2018'].sum().sort_values()

Element
Tourist consumption                            90.00
Fat supply quantity (g/capita/day)          10258.69
Protein supply quantity (g/capita/day)      11833.56
Stock Variation                             20577.91
Seed                                        25263.14
Residuals                                   34864.00
Food supply quantity (kg/capita/yr)         49056.85
Other uses (non-food)                       91300.97
Losses                                     163902.00
Export Quantity                            181594.80
Feed                                       233489.68
Import Quantity                            287997.09
Processing                                 308429.00
Food supply (kcal/capita/day)              455261.00
Total Population - Both sexes             1140605.00
Food                                      1303841.28
Production                                2075072.89
Domestic supply quantity                  2161192.10
Name: Y2018, dtype: float64

In [36]:
#question 19
imp_df = df.loc[(df['Area']== 'Algeria') & (df['Element'] == 'Import Quantity')]

In [37]:
imp_df['Y2018'].sum()

36238.29

In [27]:
#question 20
df['Area'].nunique()

49